In [4]:
import pandas as pd 

d = {'col1': [1, 2], 'col2': [3, 4]}
df = pd.DataFrame(data=d)
df.head()

   col1  col2
0     1     3
1     2     4

In [9]:

df2 = pd.DataFrame([[1, 2, 3], [4, 5, 6], [7, 8, 9]]),
           columns=['a', 'b', 'c'])
df2.head()

IndentationError: unexpected indent (<ipython-input-9-5607cb71acc1>, line 3)

In [15]:
import pandas as pd
data = [1,2,3,4,5]
df3 = pd.DataFrame(data)
df3.head()

   0
0  1
1  2
2  3
3  4
4  5

In [20]:
import pandas as pd
data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,42]}
df_1 = pd.DataFrame(data)
df_1.head()

    Name  Age
0    Tom   28
1   Jack   34
2  Steve   29
3  Ricky   42

In [48]:
 data_1 = {'Ailem': ['Aziz', 'Sinem', 'Sebnem', 'Ozlem'], 'Yas': [34, 7, 5, 25]}
 df11 = pd.DataFrame(data_1)
 df11.head()
 
data_1.append({'Ailem': 'Bulut', 'Yas': 1}, ignore_index=True)
df_22 = pd.DataFrame(data_2)

df_22.head()

AttributeError: 'dict' object has no attribute 'append'

In [55]:
students = [ ('jack', 34, 'Sydeny' , 'Australia') ,
             ('Riti', 30, 'Delhi' , 'India' ) ,
             ('Vikas', 31, 'Mumbai' , 'India' ) ,
             ('Neelu', 32, 'Bangalore' , 'India' ) ,
             ('John', 16, 'New York' , 'US') ,
             ('Mike', 17, 'las vegas' , 'US')  ]
df = pd.DataFrame(students, columns = ['Name' , 'Age', 'City' , 'Country'], index=['a', 'b', 'c' , 'd' , 'e' , 'f']) 

df.head()

    Name  Age       City    Country
a   jack   34     Sydeny  Australia
b   Riti   30      Delhi      India
c  Vikas   31     Mumbai      India
d  Neelu   32  Bangalore      India
e   John   16   New York         US

In [74]:

koyuncu = {'Ailem': ['Aziz', 'Sinem', 'Sebnem', 'Ozlem'], 'Yas': [34, 7, 5, 25], 'Goz Rengi':['Mavi', 'Siyah', 'Kahverengi','Yesil'] }
df12 = pd.DataFrame(koyuncu, columns = ['Ailem', 'Yas','Goz Rengi'], index = ['a','b','c','d'])
df12.head()

    Ailem  Yas   Goz Rengi
a    Aziz   34        Mavi
b   Sinem    7       Siyah
c  Sebnem    5  Kahverengi
d   Ozlem   25       Yesil

In [75]:
print("I love Ozlem")

I love Ozlem

In [76]:
Ozlem = 26
print(Ozlem)

26

In [81]:
koyun = {'Erkek koyun': ['a', 'b', 'c'], 'Yas': [1, 2, 3]}
dff= pd.DataFrame(koyun, columns = ['Erkek koyun','Yas'], index = ['K', 'L', 'M'])
dff.head()

  Erkek koyun  Yas
K           a    1
L           b    2
M           c    3